<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modern Webpage</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="{{ url_for('static', path='/styles.css') }}" href="styles.css">
</head>

<body class="container">

    <header>
        <h1>Welcome to My Modern Webpage</h1>
    </header>

    <main>
        <h2>About</h2>
        <p>This is a stylish and modern webpage. You can replace this text with any information you'd like.</p>
        
        <div id="main">
        <form>
            <label for="dive">Dive in to:</label>
            <input id="dive" name="q" type="dive" placeholder="I'm curious about ...">
            <button hx-post="/messages" hx-target="#main">
                Dive
            </button>
        </form>
        </div>
  
  
        <h2>Contact</h2>
        <p>If you have any questions, feel free to <a href="mailto:example@example.com">email us</a>.</p>
    </main>

    <footer>
        <h1>© 2023 Modern Webpage</h1>
    </footer>

    <!-- Reference the JavaScript file here -->
    <script src="{{ url_for('static', path='/htmx.min.js') }}"></script>
</body>

</html>